<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body ng-app="app" ng-init="" ng-controller="myc">
    <ul>
        <li ng-repeat="stu in stus | myFilter1:'1':'2'| myFilter2  track by stu.id">
            {{stu.name}} : {{stu.score}} : {{stu.age}}
        </li>
    </ul>
    {{isShow}}
    <div my-if show=" {{isShow}} ">111</div>
    <button ng-click="change()">改变</button>
    <button ng-click="change2()">获取</button>
    <script type="text/javascript " src='../angular.js'></script>
    <script type="text/javascript ">
    // console.log(angular);
    (function(angular) {
        var app = angular.module('app', []);
        app.constant('k', 1);
        app.value('v', 1);
        app.directive('myIf', function(k) {
            return {
                template: '<h1>哈哈</h1>',
                replace: true,
                scope: {
                    show: '@'
                },
                restrict: 'ECMA',
                link: function(scope, element, attributes) {
                    k = 2;
                    scope.$watch('show', function(newV, oldV) {
                        // console.log(newV);
                        // console.log(element[0]);
                        if (newV == 'false') {
                            element[0].style.display = "none "
                        } else {
                            element[0].style.display = "block ";
                        }
                    })

                }
            }
        });


        app.controller('myc', ['$scope', 'k', 'v', '$rootScope', function($scope, k, v, $rootScope) {
            $scope.stus = [{
                id: 1,
                name: '小明',
                score: 'A',
                age: 17
            }, {
                id: 2,
                name: '虞姬',
                score: 'B'
            }, {
                id: 3,
                name: '李白',
                score: 'C'
            }, {
                id: 4,
                name: '韩信',
                score: 'D'
            }, {
                id: 5,
                name: '郭美美',
                score: 'A',
                age: 19
            }];

            $scope.change = function() {
                $rootScope.a = 'a';
                // console.log(k = 343);
                v = 1234;
                $scope.isShow = !$scope.isShow;
            }
            $scope.change2 = function() {
                console.log($rootScope.a);
            }


        }]); //返回app对象


        app.filter('myFilter1', function() {
            return function(collection, p1, p2) { //p1:勇士 p2:啊
                //返回一个过滤的方式   collection-> {{ xxx|myFilter1}}  collection->xxx
                // console.log(collection);
                // console.log(p1, p2); //获取参数，排序的方式 或者 一些辅助的参数，不要去修改元素
                var arr = [];
                for (var i = 0; i < collection.length; i++) {
                    if (collection[i].score === 'A') {
                        var tmp = collection[i].name + '111';

                        //将参数更改元素数据并显示
                        collection[i].name = 'aaa'; //angular检测数据更新的次数限制，如果反复更新显示，更新，超过10次就会报错，
                        arr.push(collection[i]);
                    }
                }
                //return 返回的数据就是最终的数组
                return arr;
            }
        });
        //创建第二个过滤器，过滤年龄大于18岁的
        app.filter('myFilter2', function(k, v, $rootScope) {
            return function(collection, p1, p2) {
                console.log(k, v, $rootScope.a);
                // console.log(collection); //此时只剩下两个元素
                // collection.splice(0, 2);
                // var arr = [];
                // for (var i = 0; i < collection.length; i++) {
                //     if (collection[i].age > 18 && collection[i].age < 100) {
                //         arr.push(collection[i]);
                //     }
                // }
                return collection;
            }
        })



    })(angular);
    </script>
</body>

</html>
